@font-face {
  font-family: 'Humnst777 Blk BT';
  src: url("fonts/Humanist777BT-BlackB.woff2") format("woff2"), url("fonts/Humanist777BT-BlackB.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Humnst777 BT';
  src: url("fonts/Humanist777BT-BoldB.woff2") format("woff2"), url("fonts/Humanist777BT-BoldB.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Humnst777 BT';
  src: url("fonts/Humanist777BT-RomanB.woff2") format("woff2"), url("fonts/Humanist777BT-RomanB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Humnst777 BT';
}

html,
body {
  height: 100%;
}

body {
  background: #E0F5F3;
  color: #00002A;
  font-size: 14px;
  margin: 90px 0 0 0;
  padding: 0;
}

[class*="col-"] {
  padding: 0 10px;
}

.col-100 {
  width: 100%;
}

.col-75 {
  width: 75%;
}

.col-70 {
  width: 70%;
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-33 {
  width: 33.333%;
}

.col-30 {
  width: 30%;
}

.col-25 {
  width: 25%;
}

.col-20 {
  width: 20%;
}

.col-10 {
  width: 10%;
}

.bg-full {
  max-width: inherit !important;
  background-image: url("../img/bg-home.png");
  background-size: cover;
  background-position: center;
}

.bg-full .conheca-cartao {
  background: #00003C;
  color: white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 40px 80px;
  width: 90%;
  max-width: 900px;
}

.bg-full h3 {
  text-transform: uppercase;
  font-size: 4em;
  font-family: 'Humnst777 Blk BT';
  margin: 0 0 20px 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

h1 {
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Humnst777 Blk BT';
  font-weight: normal;
  font-size: 1.5em;
  letter-spacing: 1px;
  background: #CB9A51;
  display: inline-block;
}

h5 {
  font-family: 'Humnst777 Blk BT';
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 20px;
}

[class*="btn-"] {
  border: 2px solid #00002A;
  border-radius: 40px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  width: 100%;
}

[class*="btn-"]:hover {
  text-decoration: none;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-box-shadow: rgba(0, 0, 42, 0.2) 0 5px 10px;
          box-shadow: rgba(0, 0, 42, 0.2) 0 5px 10px;
}

.btn-pri {
  background: #00002A;
  color: white;
}

.btn-ter {
  background: #CB9A51;
  color: #00003C;
  border-color: #CB9A51;
}

a {
  color: #00002A;
  text-decoration: none;
  display: inline-block;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

header {
  background: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  max-width: 100% !important;
  z-index: 9;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: bold;
}

header a {
  font-family: 'Humnst777 Blk BT';
}

header a:hover {
  text-decoration: underline;
}

nav label,
nav #hamburger {
  display: none;
  font-size: 2em;
}

.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}

section,
header,
nav,
nav ul {
  width: 100%;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

section {
  padding: 40px 0;
}

article {
  position: relative;
  margin-bottom: 20px;
}

.banner-home img {
  width: 100%;
}

footer,
.footer-1,
.footer-2 {
  color: white;
  padding: 20px;
}

footer section,
.footer-1 section,
.footer-2 section {
  padding: 0;
}

footer li,
.footer-1 li,
.footer-2 li {
  padding: 8px 0;
  position: relative;
}

footer li:first-child,
.footer-1 li:first-child,
.footer-2 li:first-child {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer a,
.footer-1 a,
.footer-2 a {
  color: white;
  text-decoration: underline;
}

footer .social,
.footer-1 .social,
.footer-2 .social {
  position: absolute;
  top: 0;
  right: 0;
}

footer .social img,
.footer-1 .social img,
.footer-2 .social img {
  margin-left: 10px;
  max-width: 33px;
}

footer {
  background: #CB9A51;
  text-align: center;
}

.footer-1 {
  background: #00002A;
}

.footer-1 section {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-2 {
  background: #00003C;
}

.footer-2 img {
  width: 100%;
  max-width: 238px;
}

.noticia-cartao {
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 10px;
}

.noticia-cartao figure {
  width: 100%;
  height: 200px;
  margin: 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
}

.noticia-cartao img {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.noticia-cartao a {
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 181px;
}

.noticia-cartao h2 {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'Humnst777 Blk BT';
  font-weight: normal;
  width: 100%;
}

.noticia-cartao p {
  margin-top: 0;
  width: 100%;
}

.noticia-cartao small {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.col-33 .noticia-cartao a {
  min-height: 130px;
}

.noticia-cartao:hover,
.areas-cartao:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-box-shadow: rgba(0, 0, 42, 0.2) 0 10px 50px;
          box-shadow: rgba(0, 0, 42, 0.2) 0 10px 50px;
}

.sobre-cartao:hover,
.timeline-cartao:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 42, 0.2) 0 10px 50px;
          box-shadow: rgba(0, 0, 42, 0.2) 0 10px 50px;
}

.timeline-cartao,
.sobre-cartao,
.areas-cartao {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 390px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.timeline-cartao img,
.sobre-cartao img,
.areas-cartao img {
  float: left;
  margin-right: 20px;
}

.timeline-cartao p,
.sobre-cartao p,
.areas-cartao p {
  margin-bottom: 0;
}

.areas-cartao {
  position: absolute;
  right: 10px;
  top: -50%;
  margin-top: 50%;
  z-index: 8;
}

.sobre-area {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 8;
}

.sobre-area .sobre-cartao {
  margin: 20px 0;
}

.timeline .timeline-bloco {
  position: relative;
  padding: 0 40px;
}

.timeline h1 {
  margin: 0 0 20px 0;
  font-family: 'Humnst777 Blk BT';
}

.timeline .timeline-area {
  position: absolute;
  z-index: 8;
}

.timeline .timeline-cartao {
  max-width: 600px;
}

.cursos-area {
  width: 100%;
  display: table;
  position: absolute;
  top: 40px;
  z-index: 8;
}

.cursos-area .cursos-cartao {
  float: left;
  width: calc(100% - 115px);
  max-width: 380px;
}

.cursos-area .cursos-cartao h4 {
  font-size: 3.5em;
  margin-bottom: 40px;
}

.cursos-area img {
  float: left;
  margin: 0 40px;
}

.cursos-interna {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cursos-interna .cursos-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cursos-interna .cursos-desc p {
  margin-top: 0;
}

.cursos-interna .cursos-desc p:last-of-type {
  margin-bottom: 40px;
}

.cursos-interna .cursos-desc .cursos-dados {
  background: white;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  min-height: 130px;
}

.cursos-interna .cursos-desc .cursos-dados img {
  margin-top: -30px;
}

.cursos-interna .cursos-desc .cursos-dados h5 {
  margin: 10px 0;
  font-size: 0.9em;
}

.cursos-interna .cursos-desc .cursos-dados p {
  font-size: 0.8em;
  margin: 0;
}

.cursos-interna .aside [class*="btn-"] {
  text-align: center;
  margin-bottom: 20px;
}

.cursos-interna .aside .btn-pri {
  background: #CB9A51;
  border-color: #CB9A51;
  color: #00002A;
}

.cursos-interna .aside .btn-sec {
  border-color: #CB9A51;
}

.cursos-interna .aside h1 {
  text-align: center;
  font-size: 2em;
}

.bg-cartao {
  overflow: hidden;
  border-radius: 40px;
  background-size: cover;
  position: relative;
}

.bg-cartao img {
  width: 160% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.areas-cartao ~ .bg-cartao {
  width: 100%;
  max-width: 350px;
  height: 370px;
}

.sobre-area ~ .bg-cartao {
  width: 80%;
  height: 680px;
  margin: 40px 0;
}

.timeline-area ~ .bg-cartao {
  width: 60%;
  height: 550px;
  float: right;
}

.cursos-area ~ .bg-cartao {
  width: 65%;
  height: 600px;
  float: right;
  margin-bottom: 60px;
}

.texto {
  width: 100%;
}

.texto figure {
  width: 100%;
  height: 400px;
  margin: 0 0 20px 0;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

.texto figure img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  max-width: 100%;
}

.texto img {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  display: block;
}

.texto p {
  margin: 20px auto 0 auto;
  width: 100%;
  max-width: 600px;
}

.cursos-accordion {
  margin-bottom: 20px;
}

.accordion {
  background-color: #00003C;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.accordion:after {
  content: url("../img/seta.png");
  float: right;
}

button.acc-active,
.accordion:hover {
  background-color: #00002A;
}

button.acc-active {
  border-radius: 10px 10px 0 0;
}

button.acc-active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  border-radius: 0 0 10px 10px;
}

.panel a {
  text-decoration: underline;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form input,
form select,
form textarea {
  border: 0;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  color: #00002A;
}

form input::-webkit-input-placeholder,
form select::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #00002A;
}

form input:-ms-input-placeholder,
form select:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: #00002A;
}

form input::-ms-input-placeholder,
form select::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  color: #00002A;
}

form input::placeholder,
form select::placeholder,
form textarea::placeholder {
  color: #00002A;
}

form textarea {
  min-height: 150px;
}

form a {
  text-decoration: underline;
}

.modal h6 {
  font-size: 1em;
  width: 100%;
  margin-bottom: 10px;
}

.modal a {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .col-75,
  .col-70,
  .col-60,
  .col-50,
  .col-40,
  .col-33 {
    width: 100%;
  }
  .col-30,
  .col-25,
  .col-20,
  .col-10 {
    width: 50%;
  }
  nav label {
    display: inline-block;
  }
  nav ul {
    overflow: hidden;
    height: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  nav input:checked ~ ul {
    height: 295px;
  }
  nav ul li {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  section {
    padding: 20px 0;
  }
  .footer-2 [class*="col-"] {
    width: 100%;
  }
  .bg-full .conheca-cartao {
    padding: 40px;
  }
  .bg-full h3 {
    font-size: 2em;
  }
  .texto figure {
    height: 200px;
  }
  .noticia-cartao {
    margin-bottom: 20px;
  }
  .areas-cartao {
    width: 90%;
    top: -44%;
    right: -50%;
    margin-right: 55%;
    text-align: center;
  }
  .areas-cartao img {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .areas-cartao h4 {
    display: block;
  }
  .sobre-area ~ .bg-cartao,
  .bg-cartao {
    width: 100%;
  }
  .sobre-area ~ .bg-cartao img,
  .bg-cartao img {
    width: 360%;
  }
  .cursos-area ~ .bg-cartao {
    display: none;
  }
  .sobre-area {
    right: 0;
  }
  .sobre-area .sobre-cartao {
    width: 100%;
  }
  .cursos-area {
    width: 100%;
    position: initial;
  }
  .cursos-area .cursos-cartao {
    width: 100%;
    max-width: inherit;
  }
  .cursos-area .cursos-cartao h4 {
    font-size: 2.3em;
  }
  .cursos-area img {
    display: none;
  }
  .noticia-interna figure {
    height: 200px;
  }
  .timeline .timeline-bloco {
    max-width: 350px;
  }
  .cursos-dados {
    margin-bottom: 40px;
  }
  .modal h1 {
    font-size: 2em;
    margin-top: 50px;
  }
}

section h1,
section h2,
section h3,
section h4,
section img,
section p,
section a,
.accordion {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 1s .25s ease-out, -webkit-transform 1s .25s ease-out;
  transition: opacity 1s .25s ease-out, -webkit-transform 1s .25s ease-out;
  transition: transform 1s .25s ease-out, opacity 1s .25s ease-out;
  transition: transform 1s .25s ease-out, opacity 1s .25s ease-out, -webkit-transform 1s .25s ease-out;
  will-change: transform, opacity;
  opacity: 0;
}

.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#wp-live-chat-header {
  width: 130px !important;
  height: 54px !important;
  background-image: url(../img/chat.png) !important;
  background-color: transparent !important;
}

#wp-live-chat-header.active {
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
}

#wplc_hovercard {
  bottom: 75px !important;
}

#wp-live-chat {
  z-index: 9 !important;
}

#wp-live-chat-2 {
  bottom: 75px !important;
}

#wp-live-chat-4 {
  bottom: 135px !important;
}

div[vw] {
  top: 200px !important;
  margin-top: 0 !important;
}

[vp] .vpw-settings-btn .vpw-settings-btn-close {
  width: 30px !important;
}

#real-accessability {
  top: 240px !important;
  z-index: 10 !important;
}

#real-accessability a#real-accessability-btn {
  border-radius: 13px;
  background: -webkit-gradient(linear, left top, right top, from(#008eb9), to(#004b97)) !important;
  background: linear-gradient(90deg, #008eb9 0%, #004b97 100%) !important;
}

.real-accessability-invert,
.real-accessability-grayscale {
  margin: 0 !important;
}
/*# sourceMappingURL=estilo.css.map */