$cinza: #E0F5F3;
$azul: #00002A;
$azul-logo: #00003C;
$amarelo-logo: #CB9A51;

@font-face {
    font-family: 'Humnst777 Blk BT';
    src: url('fonts/Humanist777BT-BlackB.woff2') format('woff2'),
        url('fonts/Humanist777BT-BlackB.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Humnst777 BT';
    src: url('fonts/Humanist777BT-BoldB.woff2') format('woff2'),
        url('fonts/Humanist777BT-BoldB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Humnst777 BT';
    src: url('fonts/Humanist777BT-RomanB.woff2') format('woff2'),
        url('fonts/Humanist777BT-RomanB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Humnst777 BT';
}

html,
body {
    height: 100%;
}

body {
    background: $cinza;
    color: $azul;
    font-size: 14px;
    margin: 90px 0 0 0;
    padding: 0;
}

[class*="col-"] {
    padding: 0 10px;
}

.col-100 {
    width: 100%;
}

.col-75 {
    width: 75%;
}

.col-70 {
    width: 70%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-33 {
    width: 33.333%;
}

.col-30 {
    width: 30%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.bg-full {
    max-width: inherit !important;
    background-image: url('../img/bg-home.png');
    background-size: cover;
    background-position: center;

    .conheca-cartao {
        background: $azul-logo;
        color: white;
        border-radius: 10px;
        margin: 0 auto;
        padding: 40px 80px;
        width: 90%;
        max-width: 900px;
    }

    h3 {
        text-transform: uppercase;
        font-size: 4em;
        font-family: 'Humnst777 Blk BT';
        margin: 0 0 20px 0;
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

h1 {
    font-size: 3em;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
}

h4 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Humnst777 Blk BT';
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: 1px;
    background: $amarelo-logo;
    display: inline-block;
}

h5 {
    font-family: 'Humnst777 Blk BT';
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 20px;
}

[class*="btn-"] {
    border: 2px solid $azul;
    border-radius: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
    width: 100%;
}

[class*="btn-"]:hover {
    text-decoration: none;
    transform: scale(1.07);
    box-shadow: rgba(0, 0, 42, 0.20) 0 5px 10px;
}

.btn-pri {
    background: $azul;
    color: white;
}

.btn-ter {
    background: $amarelo-logo;
    color: $azul-logo;
    border-color: $amarelo-logo;
}

a {
    color: $azul;
    text-decoration: none;
    display: inline-block;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

header {
    background: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    max-width: 100% !important;
    z-index: 9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: bold;

    a {
        font-family: 'Humnst777 Blk BT';
    }

    a:hover {
        text-decoration: underline;
    }
}

nav {

    label,
    #hamburger {
        display: none;
        font-size: 2em;
    }
}

.chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
}

section,
header,
nav,
nav ul {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

article {
    position: relative;
    margin-bottom: 20px;
}

.banner-home {
    img {
        width: 100%;
    }
}

footer,
.footer-1,
.footer-2 {
    color: white;
    padding: 20px;

    section {
        padding: 0;
    }

    li {
        padding: 8px 0;
        position: relative;
    }

    li:first-child {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    .social {
        position: absolute;
        top: 0;
        right: 0;

        img {
            margin-left: 10px;
            max-width: 33px;
        }
    }
}

footer {
    background: $amarelo-logo;
    text-align: center;
}

.footer-1 {
    background: $azul;

    section {
        align-items: flex-start;
    }
}

.footer-2 {
    background: $azul-logo;

    img {
        width: 100%;
        max-width: 238px;
    }
}

.noticia-cartao {
    transition: all .5s;
    border-radius: 10px;

    figure {
        width: 100%;
        height: 200px;
        margin: 0;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        position: relative;
    }

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    a {
        background: white;
        border-radius: 0 0 10px 10px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        min-height: 181px;
    }

    h2 {
        margin: 0 0 10px 0;
        padding: 0;
        font-family: 'Humnst777 Blk BT';
        font-weight: normal;
        width: 100%;
    }

    p {
        margin-top: 0;
        width: 100%;
    }

    small {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }
}

.col-33 {
    .noticia-cartao {

        a {
            min-height: 130px;
        }
    }
}

.noticia-cartao:hover,
.areas-cartao:hover {
    // transform: scale(1.5) translateY(-40%);
    // position: absolute;
    // z-index: 8;
    transform: scale(1.07);
    box-shadow: rgba(0, 0, 42, 0.20) 0 10px 50px;
}

.sobre-cartao:hover,
.timeline-cartao:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 42, 0.20) 0 10px 50px;
}

.timeline-cartao,
.sobre-cartao,
.areas-cartao {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 390px;
    transition: all .5s;

    img {
        float: left;
        margin-right: 20px;
    }

    p {
        margin-bottom: 0;
    }

}

.areas-cartao {
    position: absolute;
    right: 10px;
    top: -50%;
    margin-top: 50%;
    z-index: 8;
}

.sobre-area {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;

    .sobre-cartao {
        margin: 20px 0;
    }
}

.timeline {

    .timeline-bloco {
        position: relative;
        padding: 0 40px;
    }

    h1 {
        margin: 0 0 20px 0;
        font-family: 'Humnst777 Blk BT';
    }

    .timeline-area {
        position: absolute;
        z-index: 8;
    }

    .timeline-cartao {
        max-width: 600px;
    }
}

.cursos-area {
    width: 100%;
    display: table;
    position: absolute;
    top: 40px;
    z-index: 8;

    .cursos-cartao {
        float: left;
        width: calc(100% - 115px);
        max-width: 380px;

        h4 {
            font-size: 3.5em;
            margin-bottom: 40px;
        }
    }

    img {
        float: left;
        margin: 0 40px;
    }
}

.cursos-interna {
    align-items: flex-start;

    .cursos-desc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        p {
            margin-top: 0;

            &:last-of-type {
                margin-bottom: 40px;
            }
        }

        .cursos-dados {
            background: white;
            border-radius: 40px;
            padding: 10px;
            text-align: center;
            min-height: 130px;

            img {
                margin-top: -30px;
            }

            h5 {
                margin: 10px 0;
                font-size: 0.9em;
            }

            p {
                font-size: 0.8em;
                margin: 0;
            }
        }
    }

    .aside {
        [class*="btn-"] {
            text-align: center;
            margin-bottom: 20px;
        }

        .btn-pri {
            background: $amarelo-logo;
            border-color: $amarelo-logo;
            color: $azul;
        }

        .btn-sec {
            border-color: $amarelo-logo;
        }

        h1 {
            text-align: center;
            font-size: 2em;
        }
    }
}

.bg-cartao {
    overflow: hidden;
    border-radius: 40px;
    background-size: cover;
    position: relative;

    img {
        width: 160% !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.areas-cartao~.bg-cartao {
    width: 100%;
    max-width: 350px;
    height: 370px;
}

.sobre-area~.bg-cartao {
    width: 80%;
    height: 680px;
    margin: 40px 0;
}

.timeline-area~.bg-cartao {
    width: 60%;
    height: 550px;
    float: right;
}

.cursos-area~.bg-cartao {
    width: 65%;
    height: 600px;
    float: right;
    margin-bottom: 60px;
}

.texto {
    width: 100%;

    figure {
        width: 100%;
        height: 400px;
        margin: 0 0 20px 0;
        border-radius: 40px;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            max-width: 100%;
        }
    }

    img {
        width: 100%;
        max-width: 700px;
        margin: 20px auto;
        display: block;
    }

    p {
        margin: 20px auto 0 auto;
        width: 100%;
        max-width: 600px;

    }
}

.cursos-accordion {
    margin-bottom: 20px;
}

.accordion {
    background-color: $azul-logo;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;

    &:after {
        content: url('../img/seta.png');
        float: right;
    }
}

button.acc-active,
.accordion:hover {
    background-color: $azul;
}

button.acc-active {
    border-radius: 10px 10px 0 0;

    &:after {
        transform: rotate(180deg);
    }
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 10px 10px;

    a {
        text-decoration: underline;
    }
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    input,
    select,
    textarea {
        border: 0;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 20px;
        color: $azul;

        &::placeholder {
            color: $azul;
        }
    }

    textarea {
        min-height: 150px;
    }

    a {
        text-decoration: underline;
    }
}

.modal {
    h6 {
        font-size: 1em;
        width: 100%;
        margin-bottom: 10px;
    }

    a {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1000px) {

    .col-75,
    .col-70,
    .col-60,
    .col-50,
    .col-40,
    .col-33 {
        width: 100%;
    }

    .col-30,
    .col-25,
    .col-20,
    .col-10 {
        width: 50%;
    }

    nav {
        label {
            display: inline-block;
        }

        ul {
            overflow: hidden;
            height: 0;
            transition: all .5s;
            align-items: flex-start;
            justify-content: unset;
        }

        input:checked~ul {
            height: 295px;
        }

        ul li {
            width: 100%;
            margin: 10px 0;
            text-align: center;
        }
    }

    section {
        padding: 20px 0;
    }

    .footer-2 {
        [class*="col-"] {
            width: 100%;
        }
    }

    .bg-full {

        .conheca-cartao {
            padding: 40px;
        }

        h3 {
            font-size: 2em;
        }
    }

    .texto {
        figure {
            height: 200px;
        }
    }

    .noticia-cartao {
        margin-bottom: 20px;
    }

    .areas-cartao {
        width: 90%;
        top: -44%;
        right: -50%;
        margin-right: 55%;
        text-align: center;

        img {
            float: none;
            margin-right: 0;
            margin-bottom: 20px;
        }

        h4 {
            display: block;
        }

    }

    .sobre-area~.bg-cartao,
    .bg-cartao {
        width: 100%;

        img {
            width: 360%;
        }
    }

    .cursos-area~.bg-cartao {
        display: none;
    }

    .sobre-area {
        right: 0;

        .sobre-cartao {
            width: 100%;
        }
    }

    .cursos-area {
        width: 100%;
        position: initial;

        .cursos-cartao {
            width: 100%;
            max-width: inherit;

            h4 {
                font-size: 2.3em;
            }
        }

        img {
            display: none;
        }
    }

    .noticia-interna {

        figure {
            height: 200px;
        }
    }

    .timeline {

        .timeline-bloco {
            max-width: 350px;
        }
    }

    .cursos-dados {
        margin-bottom: 40px;
    }

    .modal {
        h1 {
            font-size: 2em;
            margin-top: 50px;
        }
    }

}

section h1,
section h2,
section h3,
section h4,
section img,
section p,
section a,
.accordion {
    transform: translateY(100%);
    transition: transform 1s .25s ease-out,
        opacity 1s .25s ease-out;
    will-change: transform, opacity;
    opacity: 0;
}

.is-visible {
    opacity: 1;
    transform: translateY(0);
}

#wp-live-chat-header {
    width: 130px !important;
    height: 54px !important;
    background-image: url(../img/chat.png) !important;
    background-color: transparent !important;
}

#wp-live-chat-header.active {
    transform: rotate(0deg) !important;
}

#wplc_hovercard {
    bottom: 75px !important;
}

#wp-live-chat {
    z-index: 9 !important;
}

#wp-live-chat-2 {
    bottom: 75px !important;
}

#wp-live-chat-4 {
    bottom: 135px !important;
}

div[vw] {
    top: 200px !important;
    margin-top: 0 !important;
}

[vp] .vpw-settings-btn .vpw-settings-btn-close {
    width: 30px !important;
}



#real-accessability {
    top: 240px !important;
    z-index: 10 !important;
}

#real-accessability a#real-accessability-btn {
    border-radius: 13px;
    background: linear-gradient(90deg, rgba(0,142,185,1) 0%, rgba(0,75,151,1) 100%) !important;
}

.real-accessability-invert,
.real-accessability-grayscale {
    margin: 0 !important;
}